{% extends 'base.html.twig' %}

{% block body %}
<form method="post">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="_password" />
    </div>

    <!-- CSRF token -->
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

    <button type="submit">Login</button>

    {% if error %}
        <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
</form>
<a type="submit" href="{{ path('app_register') }}">Inscription</a>
{% endblock %}